<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>שאלה אקראית</title>
 <link rel="stylesheet" href="styles.css">
     <script>
        function updateFailedQuestions(questionId, isCorrect) {
            // Load existing failed questions
            let failed = JSON.parse(localStorage.getItem("failed_questions")) || [];

            if (!isCorrect) {
                // Add if not already there
                if (!failed.includes(questionId)) {
                    failed.push(questionId);
                }
            } else {
                // Remove if previously failed
                failed = failed.filter(id => id !== questionId);
            }

            // Save back
            localStorage.setItem("failed_questions", JSON.stringify(failed));
            console.log("Updated failed questions:", failed);
            fetch("/export_deck", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ ids: failed })
    })

        }
    </script>

</head>
<body onload="updateFailedQuestions({{ question.id }}, {{ 'true' if correct == True else 'false' }})">
    <div class="question-box">



<form method="POST" action="{{ url_for('frontend.check') }}{% if review_mode %}?review=1{% endif %}">
            <h2>{{ question.id }}: {{ question.title }}</h2>

            {% if question.image %}
                <img src="{{ question.image }}" alt="תמונה לשאלה">
            {% endif %}

            <div class="answers">
                {% for i in range(4) %}
                    <label>
                        <input type="radio" name="answer" value="{{ i }}" required>
                        {{ question['answer_' ~ i] }}
                    </label>
                {% endfor %}
            </div>

            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button type="submit">שלח תשובה</button>
        </form>
    </div>
    <hr>
{% if review_mode %}
    {% if correct %}
        <h1>צדקת!</h1>
        <button onclick="updateFailedQuestions({{ question.id }}, false)">שמירת שאלה</button>
    {% else %}
        <h1>טעית!</h1>
    {% endif %}
    <a href="{{ url_for('frontend.review_failed') }}">שאלה אחרת</a>
{% else %}
    {% if correct %}
        <h1>צדקת!</h1>
        <button onclick="updateFailedQuestions({{ question.id }}, false)">שמירת שאלה</button>

    {% else %}
        <h1>טעית!</h1>
    {% endif %}
    <a href="{{ url_for('frontend.question') }}">שאלה חדשה</a>
{% endif %}


</body>
</html>
