{% extends "base.html" %}
{% block title %}מבחן סימולציה{% endblock %}
{% block content %}

<section>
    <h2>שאלה {{ index }} מתוך {{ total }}</h2>
    <div id="questions"></div>
</section>

<form method="POST" action="{{ url_for('test_answer') }}">
    {% for i in range(4) %}
        <label>
            <input type="radio" name="answer" value="{{ i }}" required>
            {{ question['answer_' ~ i] }}
        </label>
    {% endfor %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <button type="submit">הבא</button>
</form>

{% endblock %}
